.main-sidebar {
    background-color: rgb(13, 146, 244) !important;
}

.nav-sidebar .nav-item .nav-link {
    color: #ffffff !important;
}

.nav-sidebar .nav-item .nav-link:hover,
.nav-sidebar .nav-item .nav-link.active {
    background-color: rgba(255, 255, 255, 0.1) !important;
}

.brand-link {
    color: #ffffff !important;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1) !important;
}

.user-panel {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1) !important;
}

.nav-sidebar .nav-item .nav-link i,
.nav-sidebar .nav-item .nav-link svg {
    color: #ffffff !important;
}